.b {
    background-image:
      url(./bb.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
.B {
    background-image:
      url(./BW.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
.k {
    background-image:
      url(./kb.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
.K {
    background-image:
      url(./KW.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
.n {
    background-image:
      url(./nb.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
.N {
    background-image:
      url(./NW.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
.p {
    background-image:
      url(./pb.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
.P {
    background-image:
      url(./PW.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
.q {
    background-image:
      url(./qb.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
.Q {
    background-image:
      url(./QW.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
.r {
    background-image:
      url(./rb.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
.R {
    background-image:
      url(./RW.svg);
    background-repeat: no-repeat;
    background-position: center;
  }