
.table{
    width: 500px;
    height: 500px;
    margin: 10px auto;
    border: 2px solid black;
    max-width: 50%;
}
.transform{
    transform: rotate(180deg)
}

.white{
    background-color: rgb(255, 255, 255);
    width: 50px;
    height: 50px;
}
.gray{
    background-color: rgb(65, 64, 64);
    width: 50px;
    height: 50px;
}

.GameChat{
    width: 500px;
    height: 500px;
    margin: 10px auto;
    border: 2px solid white;
    max-width: 50%;
}
.GameChat > div{
    max-height: 450px;
}
.GameMsg {
    display: flex;
    flex-direction: row;
    max-width: 70%;
}
.timeSize{
    font-size: 10px;
}

@media (max-width: 999px){
    .GameChat{
        min-width: 90%;
    }
}