.UserList {
    width: 100%;
    min-width: 620px;
    max-height: 50vh;
    margin: 50px 10px;
}

.UserList > div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.UserList span {
    margin: 0 auto;
}
